root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.go]
indent_style = tab

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Indentation override for all JS under lib directory
[*.js]
indent_style = space
indent_size = 2